--
-- PostgreSQL database dump
--

\restrict wWPp6patF7xagaqbUBMpqo8D0MfRM42HdGWc1vRmJWgKdHNibnOvo9lRQ0nvxZ6

-- Dumped from database version 17.2
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: prisma_migration
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO prisma_migration;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: prisma_migration
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Repository; Type: TABLE; Schema: public; Owner: prisma_migration
--

CREATE TABLE public."Repository" (
    id text NOT NULL,
    "githubId" bigint NOT NULL,
    owner text NOT NULL,
    name text NOT NULL,
    "fullName" text NOT NULL,
    url text NOT NULL,
    "userId" text NOT NULL,
    "hookId" bigint,
    "hookSecret" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Repository" OWNER TO prisma_migration;

--
-- Name: account; Type: TABLE; Schema: public; Owner: prisma_migration
--

CREATE TABLE public.account (
    id text NOT NULL,
    "accountId" text NOT NULL,
    "providerId" text NOT NULL,
    "userId" text NOT NULL,
    "accessToken" text,
    "refreshToken" text,
    "idToken" text,
    "accessTokenExpiresAt" timestamp(3) without time zone,
    "refreshTokenExpiresAt" timestamp(3) without time zone,
    scope text,
    password text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.account OWNER TO prisma_migration;

--
-- Name: code_review; Type: TABLE; Schema: public; Owner: prisma_migration
--

CREATE TABLE public.code_review (
    id text NOT NULL,
    "userId" text NOT NULL,
    "repositoryId" text NOT NULL,
    owner text NOT NULL,
    repo text NOT NULL,
    "prNumber" integer NOT NULL,
    "prTitle" text,
    "prUrl" text,
    sha text,
    summary text,
    files jsonb,
    status text DEFAULT 'pending'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.code_review OWNER TO prisma_migration;

--
-- Name: session; Type: TABLE; Schema: public; Owner: prisma_migration
--

CREATE TABLE public.session (
    id text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    token text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "ipAddress" text,
    "userAgent" text,
    "userId" text NOT NULL
);


ALTER TABLE public.session OWNER TO prisma_migration;

--
-- Name: subscription; Type: TABLE; Schema: public; Owner: prisma_migration
--

CREATE TABLE public.subscription (
    id text NOT NULL,
    "userId" text NOT NULL,
    "polarCustomerId" text,
    "polarSubscriptionId" text,
    plan text DEFAULT 'free'::text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    "currentPeriodEnd" timestamp(3) without time zone,
    "cancelAtPeriodEnd" boolean DEFAULT false NOT NULL,
    "usageLimit" integer DEFAULT 10 NOT NULL,
    "usageCount" integer DEFAULT 0 NOT NULL,
    "usageResetAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.subscription OWNER TO prisma_migration;

--
-- Name: usage; Type: TABLE; Schema: public; Owner: prisma_migration
--

CREATE TABLE public.usage (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    count integer DEFAULT 0 NOT NULL,
    period text NOT NULL,
    "periodStart" timestamp(3) without time zone NOT NULL,
    "periodEnd" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.usage OWNER TO prisma_migration;

--
-- Name: user; Type: TABLE; Schema: public; Owner: prisma_migration
--

CREATE TABLE public."user" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    "emailVerified" boolean DEFAULT false NOT NULL,
    image text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "aiModel" text DEFAULT 'gemini-2.5-flash'::text NOT NULL,
    "aiApiKey" text,
    "aiProvider" text DEFAULT 'google'::text NOT NULL
);


ALTER TABLE public."user" OWNER TO prisma_migration;

--
-- Name: verification; Type: TABLE; Schema: public; Owner: prisma_migration
--

CREATE TABLE public.verification (
    id text NOT NULL,
    identifier text NOT NULL,
    value text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.verification OWNER TO prisma_migration;

--
-- Data for Name: Repository; Type: TABLE DATA; Schema: public; Owner: prisma_migration
--

COPY public."Repository" (id, "githubId", owner, name, "fullName", url, "userId", "hookId", "hookSecret", "createdAt", "updatedAt") FROM stdin;
cmnmsz65j000004lgko6iv8qi	1197411861	Ansh-dhanani	claude-code-source	Ansh-dhanani/claude-code-source	https://github.com/Ansh-dhanani/claude-code-source	14SHFpjULnKwLiWnkPb5GEusRVegEztj	604693615	51d7a515ff6aff46d6364a1d3109bde3f501caf245f970197bb370080e887dc1	2026-04-06 06:22:09.895	2026-04-06 06:22:09.895
\.


--
-- Data for Name: account; Type: TABLE DATA; Schema: public; Owner: prisma_migration
--



--
-- Data for Name: code_review; Type: TABLE DATA; Schema: public; Owner: prisma_migration
--



--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: prisma_migration
--



--
-- Data for Name: subscription; Type: TABLE DATA; Schema: public; Owner: prisma_migration
--

COPY public.subscription (id, "userId", "polarCustomerId", "polarSubscriptionId", plan, status, "currentPeriodEnd", "cancelAtPeriodEnd", "usageLimit", "usageCount", "usageResetAt", "createdAt", "updatedAt") FROM stdin;
cmnheqr8x0002q8tl3bg1urol	14SHFpjULnKwLiWnkPb5GEusRVegEztj	\N	\N	free	active	\N	f	5	17	2026-04-30 18:30:00	2026-04-02 11:44:51.825	2026-04-06 06:23:24.427
\.


--
-- Data for Name: usage; Type: TABLE DATA; Schema: public; Owner: prisma_migration
--

COPY public.usage (id, "userId", type, count, period, "periodStart", "periodEnd", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: prisma_migration
--

COPY public."user" (id, name, email, "emailVerified", image, "createdAt", "updatedAt", "aiModel", "aiApiKey", "aiProvider") FROM stdin;
EFpphIXdsVq7Wn0DQwKpyCCZp3y73HB6	SAVAN PATEL	patelsavan2007@gmail.com	f	https://avatars.githubusercontent.com/u/247080189?v=4	2026-04-04 14:33:39.184	2026-04-04 14:33:39.184	gemini-2.5-flash	\N	google
14SHFpjULnKwLiWnkPb5GEusRVegEztj	Ansh-Dhanani	dhananiansh01@gmail.com	f	https://avatars.githubusercontent.com/u/189432138?v=4	2026-04-02 07:50:56.876	2026-04-05 04:42:56.192	nvidia/nemotron-3-nano-30b-a3b:free	\N	openrouter
\.


--
-- Data for Name: verification; Type: TABLE DATA; Schema: public; Owner: prisma_migration
--

COPY public.verification (id, identifier, value, "expiresAt", "createdAt", "updatedAt") FROM stdin;
itjqZkuzGa1hWMn4vnwohpKb3u3MDZmD	xnpvJzFUEGH8aC1sDXtCQghQ83Z5DKXo	{"callbackURL":"https://unentangleable-cristie-unapplaudable.ngrok-free.dev/dashboard","codeVerifier":"iwgoKt_J3q4CNuvGgbSzhgkVyzxPhG417hoqti4zEhYiUKWlIsVdml7UiGC0OnYQiwvpNIsyWegriLHoElRXyiCLE21b-reBK-721_2ifHEVnl-p0dTpQTbIcXu9mCCQ","expiresAt":1775460251553}	2026-04-06 07:24:12.082	2026-04-06 07:14:12.083	2026-04-06 07:14:12.083
\.


--
-- Name: Repository Repository_pkey; Type: CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public."Repository"
    ADD CONSTRAINT "Repository_pkey" PRIMARY KEY (id);


--
-- Name: account account_pkey; Type: CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public.account
    ADD CONSTRAINT account_pkey PRIMARY KEY (id);


--
-- Name: code_review code_review_pkey; Type: CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public.code_review
    ADD CONSTRAINT code_review_pkey PRIMARY KEY (id);


--
-- Name: session session_pkey; Type: CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (id);


--
-- Name: subscription subscription_pkey; Type: CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public.subscription
    ADD CONSTRAINT subscription_pkey PRIMARY KEY (id);


--
-- Name: usage usage_pkey; Type: CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public.usage
    ADD CONSTRAINT usage_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: verification verification_pkey; Type: CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public.verification
    ADD CONSTRAINT verification_pkey PRIMARY KEY (id);


--
-- Name: Repository_githubId_key; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE UNIQUE INDEX "Repository_githubId_key" ON public."Repository" USING btree ("githubId");


--
-- Name: Repository_userId_idx; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE INDEX "Repository_userId_idx" ON public."Repository" USING btree ("userId");


--
-- Name: account_userId_idx; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE INDEX "account_userId_idx" ON public.account USING btree ("userId");


--
-- Name: code_review_owner_repo_prNumber_idx; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE INDEX "code_review_owner_repo_prNumber_idx" ON public.code_review USING btree (owner, repo, "prNumber");


--
-- Name: code_review_repositoryId_idx; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE INDEX "code_review_repositoryId_idx" ON public.code_review USING btree ("repositoryId");


--
-- Name: code_review_status_idx; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE INDEX code_review_status_idx ON public.code_review USING btree (status);


--
-- Name: code_review_userId_idx; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE INDEX "code_review_userId_idx" ON public.code_review USING btree ("userId");


--
-- Name: session_token_key; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE UNIQUE INDEX session_token_key ON public.session USING btree (token);


--
-- Name: session_userId_idx; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE INDEX "session_userId_idx" ON public.session USING btree ("userId");


--
-- Name: subscription_polarCustomerId_idx; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE INDEX "subscription_polarCustomerId_idx" ON public.subscription USING btree ("polarCustomerId");


--
-- Name: subscription_polarCustomerId_key; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE UNIQUE INDEX "subscription_polarCustomerId_key" ON public.subscription USING btree ("polarCustomerId");


--
-- Name: subscription_polarSubscriptionId_key; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE UNIQUE INDEX "subscription_polarSubscriptionId_key" ON public.subscription USING btree ("polarSubscriptionId");


--
-- Name: subscription_status_idx; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE INDEX subscription_status_idx ON public.subscription USING btree (status);


--
-- Name: subscription_userId_idx; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE INDEX "subscription_userId_idx" ON public.subscription USING btree ("userId");


--
-- Name: subscription_userId_key; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE UNIQUE INDEX "subscription_userId_key" ON public.subscription USING btree ("userId");


--
-- Name: usage_userId_period_idx; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE INDEX "usage_userId_period_idx" ON public.usage USING btree ("userId", period);


--
-- Name: usage_userId_type_period_key; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE UNIQUE INDEX "usage_userId_type_period_key" ON public.usage USING btree ("userId", type, period);


--
-- Name: user_email_key; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE UNIQUE INDEX user_email_key ON public."user" USING btree (email);


--
-- Name: verification_identifier_idx; Type: INDEX; Schema: public; Owner: prisma_migration
--

CREATE INDEX verification_identifier_idx ON public.verification USING btree (identifier);


--
-- Name: Repository Repository_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public."Repository"
    ADD CONSTRAINT "Repository_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: account account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public.account
    ADD CONSTRAINT "account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: code_review code_review_repositoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public.code_review
    ADD CONSTRAINT "code_review_repositoryId_fkey" FOREIGN KEY ("repositoryId") REFERENCES public."Repository"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: code_review code_review_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public.code_review
    ADD CONSTRAINT "code_review_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: session session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT "session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: subscription subscription_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public.subscription
    ADD CONSTRAINT "subscription_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: usage usage_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: prisma_migration
--

ALTER TABLE ONLY public.usage
    ADD CONSTRAINT "usage_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: prisma_migration
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict wWPp6patF7xagaqbUBMpqo8D0MfRM42HdGWc1vRmJWgKdHNibnOvo9lRQ0nvxZ6

